body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* =========Tooltip=========== */
.tooltip {
    display: flex;
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #6ab04c;
    padding: 20px 30px;
    position: relative;
    background-color: #f53b57;
    color: #0be881;
}
.content{
    visibility: hidden;
    position: absolute;
    width: fit-content;
    padding: 20px 10px;
    text-align: center;
    border-radius: 6px;
    background-color: #111;
    color: #fff;
}
.tooltip:hover {
    visibility: hidden;
}
.tooltip:hover .content{
    visibility: visible;
}
/* =============Images========= */
.images {
    width: 80%;
    height: 450px;
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    border: #111 5px solid;
    background-color: #0be881;
}
.images img {
    width: 200px;
    height: 200px;
    border: 10px ridge #eee;
}
.images img:hover {
    border: 10px ridge #f53b57;
    filter: grayscale(100%);
}